section{
    width: 80%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1639738854279-15d0574fc79c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: top;
    margin: 0 auto
}

h1{
    font-size: 100px;
    color:white;

}