body{
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: 5px auto;
    width: 400px;
}

p{
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}

p #first #last {
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 50px;
    margin: 50px auto;
    width: 300px;
}